#pfm-form {
  margin-top: calc(var(--variable-width) * 2);
  margin-left: auto;
  margin-right: auto;
  padding: calc(var(--variable-width) * 2);
  border: 2px solid var(--global--border-grey);
  border-radius: var(--global--border-radius);
  width: calc(100% - 1em);
  background-color: var(--global--color-background-secondary);
  display: flex;
  flex-flow: column; }
  #pfm-form fieldset {
    margin-top: var(--global--form-margin-top);
    margin-top: var(--global--form-margin-bottom);
    margin-left: auto;
    margin-right: auto;
    padding: calc(var(--variable-width) * 2);
    display: flex;
    flex-flow: column;
    border: 0px solid var(--global--border-grey);
    border-radius: var(--global--border-radius);
    width: calc(100% - 1em); }
  #pfm-form legend {
    margin-top: var(--global--form-margin-top);
    padding: calc(var(--variable-width) * .75);
    border-bottom: 1px solid var(--global--border-grey);
    background-image: linear-gradient(60deg, var(--global--color-light-purple), var(--global--color-background-secondary));
    width: 100%;
    text-transform: uppercase;
    font-weight: bold; }
  #pfm-form label {
    margin-top: var(--global--form-margin-top);
    margin-top: var(--global--form-margin-bottom);
    display: block;
    text-align: left;
    text-transform: uppercase; }
  #pfm-form .required {
    font-weight: var(--global--font-weight-bold); }
    #pfm-form .required::after {
      content: '*';
      color: var(--global--color-purple); }
  #pfm-form input[type=text], #pfm-form input[type=email], #pfm-form input[type=tel], #pfm-form .results {
    margin-top: var(--global--form-margin-bottom);
    padding: calc(var(--variable-width) * .5);
    border: 1px solid #ccc;
    border-radius: var(--global--border-radius); }
    #pfm-form input[type=text]:focus, #pfm-form input[type=email]:focus, #pfm-form input[type=tel]:focus, #pfm-form .results:focus {
      border-color: var(--global--color-light-purple);
      box-shadow: 0 0 10px #719ECE; }
  #pfm-form input[type=date] {
    margin-top: calc(var(--variable-width) * .5);
    padding: calc(var(--variable-width) * .75);
    border: 1px solid #ccc;
    border-radius: var(--global--border-radius); }
    #pfm-form input[type=date]:focus {
      border-color: var(--global--color-light-purple);
      box-shadow: 0 0 10px #719ECE; }
  #pfm-form select {
    margin-top: calc(var(--variable-width) * .5);
    padding: calc(var(--variable-width) * .75);
    border: 1px solid #ccc;
    border-radius: var(--global--border-radius); }
    #pfm-form select:focus {
      border-color: var(--global--color-light-purple);
      box-shadow: 0 0 10px #719ECE; }
  #pfm-form [type="radio"], #pfm-form [type="checkmark"] {
    margin-right: .5rem; }
    #pfm-form [type="radio"] :first-child, #pfm-form [type="checkmark"] :first-child {
      margin-top: var(--global--form-margin-top); }
  #pfm-form .buttonContainer {
    margin-top: calc(var(--variable-width) * 0);
    margin-left: auto;
    margin-right: auto;
    padding: calc(var(--variable-width) * 2); }
  #pfm-form .button {
    border-radius: var(--global--border-radius);
    border: 1px solid var(--global--border-grey);
    height: 3em;
    text-align: center;
    transition-duration: 0.4s; }
    #pfm-form .button:hover {
      background-color: #8475AC;
      color: white; }
    #pfm-form .button:focus {
      z-index: 3; }
  #pfm-form .newsletter {
    padding: calc(var(--variable-width) * .55);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: var(--global--border-radius);
    width: calc(100% - 2rem);
    background-color: var(--global--color-light-purple);
    text-align: left; }
